/* Global */

body{
    font-family:Arial, Helvetica, sans-serif;
    font-size:15px;
    line-height:1.5;
    padding:0;
    margin:0;
    background-color:#f4f4f4;
    background-image: url(../images/bg-internas.png);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}


/* Container 1 */

.container1{
}

.container1_box1{
    margin:1rem;
    margin-left:auto;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    width:132px;
}

.container1_box1--img{
}

.container1_box1--text{
    font-weight: bold;
    color:white;
}

.container1_box2{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
}

.container1_box2--img{
}

.container1_box2--text{
    color:white;
    font-weight:bold;
    font-size:20px;
    justify-content: center;
}

/* Container 2 */

.container2{
    display:flex;
}

.container2--img{
    margin-left:auto;
    margin-right:auto;
}

/* Container 3 */

.container3{
    display:flex;
}

.container3_box--text{
    margin:1rem;
    margin-right:auto;
    padding:70px 0px 0px 10px;
    color:white;
    font-size:10px;
    text-decoration:underline;

}

.container3_box--img{
    margin:1rem;
    margin-left:auto;
}

/* Media Quary */

/* to do */

@media
1080 px

background-size: contain



